:root{
    --cor-fundo: #763db8 ;
    --cor-principal: #4e386b ;
    --cor-secundaria: #212333; 
    --cor-destaque: #e4c2ff;
    --cor-texto: #ecf2f3;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
